
@{
    ViewBag.Title = "Index";
}
<div class="text-center my-4">
    <div class="my-4">
        <h2>Bienvenido al Sistema de alumnos</h2>
    </div>
    <div class="my-4">
        <h1>En este sistema podras: crear, modificar y eliminar alumnos.</h1>
        <p class="my-4">
            @Html.ActionLink("Ir pagina de Alumnos", "Index", "Alumno")
        </p>
    </div>
</div>